---
//layouts:
import Layout from "@layouts/Layout.astro";

//Data:
import financialProjections from "@data/financialProjections.json";
import employees from "@data/employees.json";

//Images and icons:
import { Image } from "astro:assets";
import ExpectSectionImage from "@assets/images/expect_section.png";
import PatternImage from "@assets/images/pattern.png";
import Checkmark from "@icons/checkmark.svg";
import ArrowRight from "@icons/arrow--right.svg";
import ArrowLeft from "@icons/arrow-left.svg";

//component helpers:
import DynamicImage from "@components/helpers/DynamicImage.astro";

//components:
import Hero from "@components/Hero.astro";
import Section from "@components/Section.astro";
import Text from "@components/Text.astro";
import ScrollingContainer from "@components/ScrollingContainer.astro";

//What skal rydes op
console.log(employees);
---

<Layout title="Home">
  <Hero />

  <Section id="expect">
    <div>
      <figure>
        <Image src={PatternImage} alt="pattern" />
        <Image src={ExpectSectionImage} alt="What to expect" />
      </figure>
    </div>
    <div>
      <Text subtitle="we'll work with you" title="What To Expect" text="Our collaboration is built on transparency, efficiency, and measurable results. Together, we create strategies tailored to your unique needs and goals." />
      <ul>
        <li>
          <Checkmark width={30} height={30} />
          <p>Collaborate to build actionable strategies that drive sustainable growth and deliver tangible outcomes.</p>
        </li>
        <li>
          <Checkmark width={30} height={30} />
          <p>Identify opportunities to optimize processes and implement impactful solutions with measurable results.</p>
        </li>
      </ul>
    </div>
  </Section>

  <Section id="financial-projections">
    <h2>Financial Projections</h2>
    <div>
      <p>Financial projections are essential for planning and monitoring a company's performance. They provide insights into potential revenue, expenses, and profitability over specific periods.</p>
      <div>
        <button>
          <ArrowLeft width={21} height={17} />
        </button>
        <button>
          <ArrowRight width={21} height={17} />
        </button>
      </div>
    </div>
    <ScrollingContainer financialData={financialProjections.values} />
  </Section>

  <Section id="experience">
    <div>
      <div>
        <Text subtitle="experience" title="More than 25 years of experience" text="3000+ our clients are insured around the World" />
      </div>
      <div class="stats">
        <div class="stat" style="--percent: 25"></div>
        <div class="stat" style="--percent: 85"></div>
        <div class="stat" style="--percent: 75"></div>
      </div>
    </div>
  </Section>

  <Section>
    {employees.map((employee) => <DynamicImage imagePath={employee.img} altText={employee.name} width={200} height={200} />)}
  </Section>
</Layout>

<style>
  @layer components {
    #expect {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;

      figure {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 4fr;
        grid-template-rows: 1fr 4fr;

        margin-inline: auto;
        position: relative;

        > :first-child {
          grid-column: 1 / span 4;
          grid-row: 1 / span 2;
          z-index: -2;
        }
        > :last-child {
          grid-column: 2 / span 4;
          grid-row: 2 / span 3;
          border-radius: 20px;
        }

        &::after {
          content: "";
          position: absolute;
          top: 3rem;
          right: 23rem;
          background: #4eaf4e;
          width: 170px;
          height: 183px;
          z-index: -1;
          border-radius: 20px;
        }
      }

      /* Checkmark liste styling */
      ul {
        display: grid;
        gap: 1rem;
        margin-top: 2rem;
      }

      li {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        font-size: 1rem;
        color: #595566;

        > svg {
          color: #4eaf4e;
        }
      }

      @media (width < 768px) {
        grid-template-columns: 1fr;
      }
    }

    #financial-projections {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: full;
      background: var(--color-tertiary);
      /* Alle de børn der ligger direkte i section skal forholde sig til kolonne 2*/
      > * {
        grid-column: content;
      }
      .full-width {
        grid-column: full;
      }
      div {
        display: grid;
        grid-template-columns: subgrid;

        p {
          grid-column: content-start;
        }
        div {
          display: flex;
          justify-content: flex-end;
          gap: 2rem;
        }
        button {
          background-color: var(--color-secondary);
          border-radius: 100%;
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          cursor: pointer;

          svg {
            color: var(--color-primary);
          }
        }

        button:hover {
          background-color: var(--color-accent);

          svg {
            color: var(--color-secondary);
          }
        }
      }
      p {
        margin-block-end: clamp(2rem, 5vw, 5rem);
      }
      h2 {
        margin-block-start: clamp(2rem, 10vw, 10rem);
      }
    }

    #experience {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: full;
      background: var(--color-accent);

      /* Alt indhold placeres i content området */
      > * {
        grid-column: content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
      }

      /* STAT CIRKLER */

      .stats {
        display: flex;
        gap: 1rem;
        width: min(400px, 100% - 1rem);
      }

      .stat {
        /* Laver stat til en container, så jeg kan indstille mine font-size der navigerer efter størrelsen på containeren. Så bliver den automatisk mindre ved små skærme*/
        container: stat/inline-size;

        --actualPercent: calc(var(--percent) * 1%); /* 35%, 75%*/
        --border-width: 5px;
        aspect-ratio: 1;
        width: 150px;
        border-radius: calc(Infinity * 1px);
        border: var(--border-width) solid transparent;
        background: 
    /* Jeg laver et billede ovenpå som er hvidt*/
          conic-gradient(#fff) padding-box,
          /* Selve baggrunden også lavet som et billede*/ conic-gradient(red var(--actualPercent), gainsboro 0) border-box;

        display: grid;

        counter-reset: c var(--percent);

        &::before,
        &::after {
          grid-area: 1 / 1;
        }

        &::after {
          content: counter(c, decimal-leading-zero) "%";
          place-self: center;
          /* Så bliver størrelsen sat efter den nærmeste container*/
          font-size: 30cqw;
        }

        &::before {
          content: "";
          aspect-ratio: 1;
          border-radius: 99px;
          width: 20px;
          offset-path: border-box;
          offset-distance: var(--actualPercent);
          offset-anchor: 50% calc(50% - var(--border-width) / 2);
          background: red;
        }
      }
      /* Specifik spacing for experience */
      h5 {
        margin-top: clamp(2rem, 5vw, 8rem);
      }
      p {
        margin-bottom: clamp(2rem, 5vw, 8rem);
      }
    }
  }

  @layer overrides {
    #experience {
      margin-block-start: 0;
    }
  }
</style>
